

@{
    ViewBag.Title = @Ads.Resources.Texts.Verification;
}

<h2>@Ads.Resources.Texts.UsersVerification</h2>

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    <div class="alert alert-success">
        <strong>@Ads.Resources.Texts.Success!</strong>@Ads.Resources.Texts.PsswdChanged. @Ads.Resources.Texts.ClickToLogin. @Html.ActionLink(@Ads.Resources.Texts.Login, "Login", "Account").
    </div>
}
else
{
    <div class="alert alert-danger">
        <strong>@Ads.Resources.Texts.Error!</strong> @ViewBag.Message
    </div>
}