@{
    ViewBag.Title = @Ads.Resources.Texts.AboutTitle;
    ViewBag.Message = @Ads.Resources.Texts.AboutMsg;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message.</h3>

<p>@Ads.Resources.Texts.AboutContent</p>
