@{
    ViewBag.Title = @Ads.Resources.Texts.ContactTitle;
    ViewBag.Message = @Ads.Resources.Texts.ContactMsg
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message.</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>@Ads.Resources.Texts.Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>@Ads.Resources.Texts.Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>