@model Ads.Models.Ad

@{
    ViewBag.Title = @Ads.Resources.Texts.ModerationMsg;
}

<h2>@Ads.Resources.Texts.ModerationMsg</h2>

<h3>@Ads.Resources.Texts.ModerationConfirmation</h3>
<div>
    <h4>@Ads.Resources.Texts.Ad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Login)
        </dd>

        <dt>
            @Ads.Resources.Texts.Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Ads.Resources.Texts.Content
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Ads.Resources.Texts.DateOfInsert
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfInsert)
        </dd>

        <dt>
            @Ads.Resources.Texts.CategoryID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryID)
        </dd>


        <dt>
            @Ads.Resources.Texts.IsModerated
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsModerated)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@Ads.Resources.Texts.Report class="btn btn-default" /> |
            @Html.ActionLink(@Ads.Resources.Texts.BackToList, "Index")
        </div>
    }
</div>
